@model IEnumerable<QueueStepchenko.Models.OperationViewModel>

@{
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";

}

<div>
    <h3>Операции</h3>
    <hr/>
</div>



<p>
    @Html.ActionLink("Добавить операцию", "EditOperation")
</p>

<div class="divWidth640">

    <table class="table">
        <tr class="trHeader">
            <th class="largeFont">
                Наименование
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="trHover">
                <td class="largeFont">
                    @Html.DisplayFor(modelItem => item.Name)
                    <div class="error">
                       @Html.DisplayFor(modelItem => item.ErrorMessage)
                    </div>
                </td>

                <td class="tdWidth150">
                    @Html.ActionLink("Изменить", "EditOperation", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteOperation", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>
